task-manager-app/src/main/resources/TaskManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="TaskManager">
            <xs:complexType>
                  <xs:sequence>
                        <xs:element name="TaskGroup" maxOccurs="unbounded">
                              <xs:complexType>
                                    <xs:sequence>
                                          <xs:element name="Task" maxOccurs="unbounded">
                                                <xs:complexType>
                                                      <xs:sequence>
                                                            <xs:element type="xs:string" name="Name"/>
                                                            <xs:element name="Parameter" maxOccurs="unbounded" minOccurs="0">
                                                                  <xs:complexType>
                                                                        <xs:simpleContent>
                                                                              <xs:extension base="xs:string">
                                                                                    <xs:attribute type="xs:string" name="type" use="optional"/>
                                                                              </xs:extension>
                                                                        </xs:simpleContent>
                                                                  </xs:complexType>
                                                            </xs:element>
                                                      </xs:sequence>
                                                </xs:complexType>
                                          </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name"/>
                                    <xs:attribute type="xs:string" name="parallel"/>
                                    <xs:attribute type="xs:string" name="scheduler"/>
                              </xs:complexType>
                        </xs:element>
                  </xs:sequence>
            </xs:complexType>
      </xs:element>
</xs:schema>